@page
@model CatCoffeePlatformWebRazorPage.Pages.ManageTable.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Shop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Table) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.EndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TableId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TableId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TableId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
